@media only screen and (max-width:800px){
    .signup{
        width: 600px;
    }
}
@media only screen and (max-width:600px){
    .signup{
        width: 300px;
        flex-direction: column;
    }
    .name,.lastName,.email,.password,.confirmPass,.submit,.Gender,.phone,.City{
        width: 100%;
    }
}